<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
  PUBLIC '-//Hibernate/Hibernate Configuration DTD//EN'
  'http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd'>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:postgresql://ec2-107-22-244-62.compute-1.amazonaws.com:5432/d74rqh8idppiep?user=okoyuttwsdddze&amp;password=47cdb32852b8fbe842b4cb3e72d4d953c5647f3891f3a830bcb5a696a8cb6cd1&amp;ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

		<!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
		<property name="hibernate.connection.charSet">UTF-8</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">false</property>

		<mapping class="berberyan.entity.impl.Nasdaq" />
	</session-factory>
</hibernate-configuration>